<style>
    footer{
        background-image: linear-gradient(to bottom right, #2a2a72,#009ffd);

    }

</style>
<footer class="footer py-2 mt-auto">
    <div class="container text-center">
        <span class="text-white text-center">&copy; EARNPART 2020</span>
    </div>
</footer>
